* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}


header {
    background-color: #f25142d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 100%;
}

footer {
    background-color: #f25142d3; 
    color: #f4effc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    background-color: #f4effc;
    padding: 5px;
    justify-content: center;
}

nav a { 
    padding: 10px 30px;
    color: rgb(0, 0, 0);
}

nav a:hover {
    background-color: #f25142d3;
    color: #f4effc;
    border-radius: 5px;
}

.imagem-container {
    display: flex;
        justify-content: center;
}

.logo {
    padding: 10px 30px;
}

.logo a {
    color: #f4effc;
}

.logo a:hover {
    font-size: 1.3em;
}

.menu {
    display: flex;
    justify-content: center;
}

.social-media  {
    display: flex;
}

.social-media a {
    color: #f25142d3;
}

@media (max-width: 700px)
{
    

    header {
        display: flex;
        justify-content: center;           
        flex-direction: column;
        background-color: #f25142d3;
    }

    nav {
        width: 100%;
        background-color: #f25142d3;
    }

    nav a {
        text-align: center; 
        margin-bottom: 5px;
        background-color: #ebb4b477;
        border: 1px solid #ebb4b477;
        border-radius: 5px;
    }

    .logo {
        display: none;
    }

    .menu{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .social-media {
        display: none;
        /*display: flex;
        flex-direction: column;*/
    }
    

}